<%- include('../partials/header') %>

<html>
    <body>
    <h1>Welcome to Spellbook</h1><br>
    <h4> <% if  (name){%> </h4>
    <h4> <%= name.name %> </h4>
    <h4> <% } %> </h4>
    <p>Where all your spellcasting needs are met</p> <br>
    <p>Please login to continue</p> <br> 
       
  </body>
</html>
