<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Spellbook</h1>
    <p>Select your characters Spellbook</p>
      <ul>
        <li>char 1</li>
        <li>char 2</li>
        <li>char 3</li>
        <li>char 4</li>
      </ul>
      <a href="">Add a spell book</a>
  </body>
</html>
