<%- include('./partials/header') %>

<html>
    <body>
    <h1>Welcome to Spellbook</h1><br>
    <h4>user-name</h4>
    <p>Select your characters Spellbook</p>
     <!-- <ul>
        <% //if (player.character.length > 0) { %>
        
        <% //player.character.forEach(function(char){ %>
          <li><%=// char.name %></li>
        </ul>
      <% // }) %> 
      <% //} else { %> 
      
        <h4>No Characters to Display</h4>
     // <% // } %> */ -->
      
      <a href="">Add a spell book</a>
  </body>
</html>
