body {
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://www.gamersdecide.com/sites/default/files/authors/u150693/best-background-for-every-class-12.jpg');
  color: whitesmoke;
}
ul{
  list-style: none;
}
a {
  color: #00B7FF;
}

nav {
 text-align: right;
}

#spelllist {
  padding: 0px 0px 0px 0px;
}